header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #D8BFD8;
}

body {
    padding: 25px;
    background-color: white;
    color: rgb(86, 0, 167);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .dark-mode {
    background-color: rgb(108, 47, 165);;
    color: whitesmoke;
  }

img {
  border-radius: 16px;
}